
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">


     <bean id="io" class="com.sg.VendingMachine.ui.UserIOConsoleImpl" />

    <bean id="dao" class="com.sg.VendingMachine.dao.VendingMachineDaoImpl" />
    
    <bean id="auditdao" class="com.sg.VendingMachine.dao.VendingMachineAuditDaoFileImpl" />
    
    
    <bean id="view" class="com.sg.VendingMachine.ui.VendingMachineView">
        <constructor-arg ref="io" />
    </bean>
    
    
    <bean id="service" class="com.sg.VendingMachine.service.VendingMachineService">
        <constructor-arg ref="dao" />
        <constructor-arg ref="auditdao" />
    </bean>

    <bean id="controller" class="com.sg.VendingMachine.controller.VendingMachineController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>
    
    

</beans>